<nav class="bg-gray-800 shadow relative">
  <div class="max-w-7xl mx-auto px-4 flex items-center justify-between h-20">
    <div class="flex items-center ml-20">
      <div class="flex-shrink-0">
        <img
          routerLink=""
          class="h-16 w-100 transition duration-300 transform hover:scale-110"
          src="assets/img/zeal_logo.png"
          alt="Workflow"
        />
      </div>
    </div>
    <div class="hidden md:flex items-center space-x-4 ml-auto mr-20">
      <a
        routerLink="tip-calculator"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >
        Tip Calculator
      </a>
      <a
        routerLink="grocery-list"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >
        Grocery List
      </a>
      <a
        routerLink="game"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >
        Game
      </a>
      <a
        routerLink="weather"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
      >
        Weather
      </a>
    </div>
  </div>
</nav>
