<div class="flex justify-center items-center mt-14">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg w-full">
    <h1 class="text-center text-xl font-bold mb-6">TIP CALUCULATOR</h1>

    <div class="mb-4">
      <label class="block text-gray-700">Bill</label>
      <input
        type="number"
        [(ngModel)]="bill"
        class="mt-1 w-full p-2 border rounded-lg"
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700">Select Tip %</label>
      <div class="grid grid-cols-3 gap-4 mt-2">
        <button
          class="bg-blue-800 text-white py-2 rounded-lg"
          (click)="setTip(5)"
        >
          5%
        </button>
        <button
          class="bg-blue-800 text-white py-2 rounded-lg"
          (click)="setTip(12)"
        >
          12%
        </button>
        <button
          class="bg-blue-800 text-white py-2 rounded-lg"
          (click)="setTip(20)"
        >
          20%
        </button>
      </div>
      <div class="mb-4 mt-8">
        <label for="tipPercentage" class="block text-gray-700 font-medium mb-2"
          >Tip Percentage: {{ tipPercentage }}%</label
        >
        <input
          type="range"
          min="0"
          max="100"
          [(ngModel)]="tipPercentage"
          (input)="checkTipPercentage()"
          class="w-full"
        />
        <div class="emoji-container" *ngIf="showEmoji">💵</div>
      </div>

      <div class="mb-4">
        <div
          class="bg-blue-900 text-white p-6 rounded-lg flex justify-between items-center mb-4"
        >
          <div>
            <p>Tip Amount</p>
            <p class="text-2xl font-bold">
              ${{ tipAmount | number : "1.2-2" }}
            </p>
          </div>
          <div>
            <p>Total</p>
            <p class="text-2xl font-bold">
              ${{ totalAmount | number : "1.2-2" }}
            </p>
          </div>
        </div>

        <button
          (click)="reset()"
          class="bg-blue-500 text-white py-2 px-4 rounded-lg w-full"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
