h1 {
  font-size: 2rem; /* Adjust font size as needed */
  text-align: center;
  margin-bottom: 0rem; /* Adjust margin bottom as needed */
  margin-top: 1rem; /* Adjust margin bottom as needed */
  color: rgba(213, 33, 33, 0.861); /* Change text color to red */
}
